[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.114.*"
uvicorn = "==0.29.*"
alembic = "==1.13.*"
bcrypt = "==4.2.*"
pytest = "==8.3.*"
pydantic-settings = "==2.2.*"
sqlalchemy = "==2.0.*"
aiosqlite = "==0.20.*"
starlette = "==0.38.*"
pyjwt = "==2.8.*"
pydantic = {extras = ["email"], version = "*"}
python-multipart = "==0.0.9"

[dev-packages]

[requires]
python_version = "3.12"
